 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="star-light">About</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Brandon is a mobile software engineer from Minnesota. He is currently working at Jump Technologies, Inc.</p>
                </div>
                <div class="col-lg-4">
                    <p>In his spare time he enjoys working on independent development projects and spending time on the golf course.</p>
                </div>
            </div>
        </div>
    </section>