<section id="posts">

    <div class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
        <br/><br/>
            <h2>Posts</h2>
        </div>
    </div>

    <div class="clearfix"></div>
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.summary }}</div>
                    <a href="{{ post.url | | prepend: site.baseurl }}" class="portfolio-link">
                        <h4>Continue Reading</h4>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.summary }}</div>
                    <a href="{{ post.url | | prepend: site.baseurl }}" class="portfolio-link">
                        <h4>Continue Reading</h4>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
